.button {
  cursor: pointer;
  width: $button-width-mobile;
  height: $button-height;
  border-radius: $button-radius;
  background-color: $white-color;
  color: $main-text-color;
  font-weight: 700;
  font-size: $font-size-base;
  line-height: $line-height-large;
  grid-column: 1 / -1;
  justify-self: center;

  @include on-tablet {
    width: $button-width-tablet;
  }

  @include on-desktop {
    width: $button-width-desktop;
  }

  @include hover(box-shadow, $shadow-hover);
}

.button--label {
  width: $button-label-width-mobile;

  @include on-tablet {
    width: $button-label-width-tablet;
  }

  @include on-desktop {
    width: $button-label-width-desktop;
  }
}
