.contacts {
  &__wrapper {
    @include page-grid;

    row-gap: $gap-vertical;

    @include on-tablet {
      row-gap: $gap-tablet-vertical;
    }
  }
}

.contact {
  grid-column: 1 / -1;

  @include on-tablet {
    grid-column: 1 / 4;
  }

  @include on-desktop {
    grid-column: $span-7;
  }

  &--info {
    grid-column: 1 / -1;

    @include on-tablet {
      grid-column: 4 / 7;
    }

    @include on-desktop {
      grid-column: $span-3;
    }
  }

  &__form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  &__input {
    width: $input-width-mobile;
    max-width: $full-width;
    margin-bottom: $spacing-xs;

    color: $input-text-color;
    border: $border-thin solid $input-border-color;
    border-radius: $input-radius-round;
    padding: $input-padding;

    font-weight: $font-weight-regular;
    font-size: $font-size-small;
    line-height: $line-height-small;

    @include on-tablet {
      width: $input-width-tablet;
    }

    @include on-desktop {
      width: $input-width-desktop;
    }

    &::placeholder {
      color: $placeholder-color;
    }
  }

  &__textarea {
    width: $input-width-mobile;
    max-width: $full-width;
    height: $textarea-height;
    margin-bottom: $spacing-m;

    color: $input-text-color;
    border: $border-thin solid $input-border-color;
    border-radius: $input-radius-square;
    padding: $input-padding;

    font-weight: $font-weight-regular;
    font-size: $font-size-small;
    line-height: $line-height-small;

    @include on-tablet {
      width: $input-width-tablet;
    }

    @include on-desktop {
      width: $input-width-desktop;
    }

    &::placeholder {
      color: $placeholder-color;
    }
  }

  &__info-item {
    color: $white-color;
  }

  &__info-label {
    font-weight: $font-weight-regular;
    font-size: $font-size-small;
    margin-bottom: $spacing-xxs;
  }

  &__info-value {
    display: block;
    font-weight: $font-weight-medium;
    font-size: $font-size-base;
    margin-bottom: $spacing-s;
    color: $white-color;
    text-decoration: none;

    @include hover(color, $menu-bg-color);
  }
}

.visually-hidden {
  position: absolute;
  width: $vh-hidden-size;
  height: $vh-hidden-size;
  padding: 0;
  margin: $vh-hidden-margin;
  overflow: hidden;
  clip: $vh-hidden-clip;
  white-space: nowrap;
  border: $border-none;
}

.contact__input:focus,
.contact__textarea:focus {
  outline: $border-hairline solid $shadow-hover;
  outline-offset: $outline-offset-base;
  box-shadow: 0 0 0 $outline-shadow-size $focus-outline-color;
  transition:
    outline-color $duration-short ease,
    box-shadow $duration-short ease;
}
