.detaileses {
  &__wrapper {
    display: grid;
    row-gap: $gap-vertical;

    @include on-tablet {
      row-gap: $gap-tablet-vertical;
    }
  }
}

.details {
  @include page-grid;

  row-gap: $spacing-xs;

  &__photos {
    @include page-grid;

    grid-column: 1 / -1;
  }

  &__text-block {
    grid-column: 1 / -1;

    @include on-desktop {
      grid-column: 1 / 9;
    }
  }

  &__link {
    position: relative;

    @include hover(transform, $scale-xs);

    &--wide {
      @include on-tablet {
        grid-column: $span-4;
      }

      @include on-desktop {
        grid-column: $span-8;
      }
    }

    &--square {
      height: 0;
      padding-bottom: $ratio-square;

      @include on-tablet {
        grid-column: $span-2;
      }

      @include on-desktop {
        grid-column: $span-4;
      }
    }
  }

  &__photo {
    position: absolute;
    width: $full-width;
    height: $percent-full-height;
    object-fit: cover;
  }

  &__title {
    margin-bottom: $spacing-xxs;
    font-weight: $font-weight-bold;
    font-size: $font-size-xl;
  }

  &__text {
    margin: 0;
    font-weight: $font-weight-regular;
    font-size: $font-size-base;
  }
}
