.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: $full-width;
  height: $footer-height;
  z-index: $z-index-low;

  background-image: url(../images/footer-bg.png);
  background-size: cover;
  background-position: center;
}
