.header {
  background-image: url(../images/header-bg.png);
  background-size: cover;
  background-position: center;

  &__content {
    height: $full-height;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__title {
    margin: 0;
    font-weight: $font-weight-bold;
    font-size: $font-size-title-mobile;
    line-height: $line-height-static;
    letter-spacing: $letter-narrow;
    text-align: center;
    color: $white-color;

    @include on-tablet {
      font-size: $font-size-title-desktop;
    }
  }

  &__bottom {
    padding: $header-bottom-padding-mobile;

    @include on-tablet {
      padding-bottom: $header-bottom-padding-tablet;
    }
  }
}
