.icon {
  display: block;
  height: $icon-size-mobile;
  width: $icon-size-mobile;
  background-size: cover;
  background-position: center;

  @include hover(transform, $scale-m);

  @include on-tablet {
    height: $icon-size-tablet;
    width: $icon-size-tablet;
  }

  &--phone {
    display: block;
    position: relative;
    align-items: center;
    justify-content: flex-end;
    background-image: url(../images/icons/icon-phone.svg);
    background-size: $icon-size-mobile;
    background-position: right center;
    background-repeat: no-repeat;
    width: $icon-size-mobile;
    height: $icon-size-mobile;
    text-decoration: none;
    color: $white-color;

    @include on-tablet {
      background-size: $icon-size-tablet;
      width: $icon-size-tablet;
      height: $icon-size-tablet;
    }

    @include on-desktop {
      &:hover {
        .top-bar__phone-text {
          opacity: $opacity-visible;
        }
      }
    }
  }

  &--menu {
    background-image: url(../images/icons/icon-menu.svg);

    &:hover {
      background-image: url(../images/icons/icon-menu-hover.svg);
    }
  }

  &--close {
    background-image: url(../images/icons/icon-close.svg);
  }
}
