.icon {
  display: block;
  height: $icon-size-mobile;
  width: $icon-size-mobile;
  background-size: cover;
  background-position: center;

  @include hover(transform, $scale-m);

  @include on-tablet {
    height: $icon-size-tablet;
    width: $icon-size-tablet;
  }

  &--phone {
    background-image: url(../images/icons/icon-phone.svg);
  }

  &--menu {
    background-image: url(../images/icons/icon-menu.svg);

    &:hover {
      background-image: url(../images/icons/icon-menu-hover.svg);
    }
  }

  &--close {
    background-image: url(../images/icons/icon-close.svg);
  }
}
