.main {
  background-color: $main-text-color;

  &__content {
    display: grid;
    row-gap: $gap-main-mobile;
    padding-block: $main-padding-mobile;

    padding-bottom: $footer-height;

    @include on-tablet {
      padding-block: $main-padding-tablet;
      row-gap: $gap-main-tablet;

      padding-bottom: $footer-height;
    }
  }
}
