.menu {
  box-sizing: border-box;
  height: $full-height;
  background-color: $menu-bg-color;
  font-weight: $font-weight-semi-bold;
  text-transform: uppercase;

  &__top {
    margin-bottom: $spacing-m;

    position: sticky;
    top: 0;
    z-index: $z-index-floating;
    background-color: $menu-bg-color;

    @include on-tablet {
      margin-bottom: 0;
    }
  }

  &__nav {
    margin-bottom: $spacing-l;
  }

  &__phone-number {
    display: block;
    margin-bottom: $spacing-xs;
    font-size: $font-size-base;
    line-height: $line-height-large;
    color: $main-text-color;
    text-decoration: none;
  }

  &__book-a-test {
    display: block;
    width: fit-content;
    padding-bottom: $spacing-xxs;
    border-bottom: $border-thin solid $main-text-color;

    font-size: $font-size-tiny;
    line-height: $line-height-small;
    letter-spacing: $letter-wide;
    color: $main-text-color;
    text-decoration: none;
  }
}
