.nav {
  &__list {
    margin: 0;
    padding: 0;
    list-style: none;

    display: flex;
    flex-direction: column;
    gap: $spacing-m;
  }

  &__link {
    position: relative;
    color: $main-text-color;
    text-decoration: none;
    font-size: $font-size-l;
    line-height: $line-height-medium;
    letter-spacing: $letter-wide;

    &::after {
      content: '';
      position: absolute;
      bottom: $nav-link-underline-offset;
      display: block;
      height: $border-thin;
      width: $full-width;
      background-color: $main-text-color;

      transition: transform $effectDuration ease;
      transform: scale(0);
      transform-origin: left;
    }

    &:hover::after {
      transform: scale(1);
    }
  }
}
