.page {
  font-family: Poppins, sans-serif;
  line-height: $line-height-base;

  scroll-behavior: smooth;

  &__body {
    margin: 0;
    min-width: $min-viewport-width;
    color: $white-color;
  }

  &:has(.page__menu:target) {
    overflow: hidden;
  }

  &__menu {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;

    transition: all $duration-base ease;
    opacity: $opacity-hidden;
    transform: translateX($translate-left-full);
    pointer-events: none;

    overflow: auto;

    &:target {
      opacity: $opacity-visible;
      transform: translateX($translate-none);
      pointer-events: all;
    }
  }
}
