.page {
  font-family: Poppins, sans-serif;
  line-height: $line-height-base;

  scroll-behavior: smooth;

  &__body {
    margin: 0;
    min-width: $min-viewport-width;
    color: $white-color;
  }

  &:has(.page__menu:target) {
    overflow: hidden;
  }

  &__menu {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;

    transition: all 0.3s ease;
    opacity: 0;
    transform: translateX(-100%);
    pointer-events: none;

    overflow: auto;

    &:target {
      opacity: 1;
      transform: translateX(0);
      pointer-events: all;
    }
  }
}
