.product {
  &__photo {
    width: $full-width;
    margin-bottom: $spacing-m;

    @include hover(transform, $scale-s);
  }

  &__title {
    font-weight: $font-weight-bold;
    font-size: $font-size-xl;
  }

  &__text {
    font-weight: $font-weight-regular;
    font-size: $font-size-base;
  }

  &__price {
    font-weight: $font-weight-bold;
    font-size: $font-size-xl;
  }
}
