.section-title {
  margin: 0;
  margin-bottom: $spacing-xxl;

  font-weight: $font-weight-medium;
  font-size: $font-size-xxl-mobile;
  line-height: $line-height-extra-large;
  text-align: center;
  letter-spacing: $letter-narrow;

  @include on-tablet {
    margin-bottom: $spacing-xxl;
    font-size: $font-size-xxl-tablet;
    line-height: $line-height-static;
  }

  @include on-desktop {
    font-size: $font-size-title-desktop;
  }
}

.section-title--first {
  margin-bottom: $spacing-m;
  text-align: start;
}
