.top-bar {
  padding-block: $top-bar-padding-mobile;

  display: flex;
  justify-content: space-between;
  align-items: center;

  @include on-tablet {
    padding-block: $top-bar-padding-tablet;
  }

  &__icons {
    display: flex;
    gap: $spacing-s;
  }

  &__logo-link {
    display: flex;
  }

  &__logo {
    height: $logo-height-mobile;

    @include hover(transform, scale(1.2));

    @include on-tablet {
      height: $logo-height-tablet;
    }
  }
}
