.top-bar {
  padding-block: $top-bar-padding-mobile;

  display: flex;
  justify-content: space-between;
  align-items: center;

  @include on-tablet {
    padding-block: $top-bar-padding-tablet;
  }

  &__icons {
    display: flex;
    gap: $spacing-s;
  }

  &__logo-link {
    display: flex;
  }

  &__logo {
    height: $logo-height-mobile;

    @include hover(transform, $scale-m);

    @include on-tablet {
      height: $logo-height-tablet;
    }
  }

  &__phone-text {
    display: none;

    @include on-desktop {
      display: block;
      position: absolute;
      white-space: nowrap;
      right: 0;
      top: 50%;
      transform: translateY(-50%) translateX(-35%);
      opacity: $opacity-hidden;
      font-weight: $font-weight-semi-bold;
      font-size: $font-size-base;
      color: $white-color;
      transition:
        opacity $duration-base ease,
        transform $duration-base ease;
    }
  }
}
