$white-color: #fff;
$main-text-color: #1d1d1d;
$menu-bg-color: #c2c2c2;
$input-text-color: #292929;
$placeholder-color: #7e7e83;
$input-border-color: #ccc;
$focus-outline-color: #0080ff26;
$shadow-hover: 1px 4px 16px #e8e8f066;
