$span-2: span 2;
$span-3: span 3;
$span-4: span 4;
$span-5: span 5;
$span-7: span 7;
$span-8: span 8;
$gap-mobile: 20px;
$gap-tablet: 24px;
$gap-vertical: 40px;
$gap-tablet-vertical: 64px;
$main-padding-mobile: 60px;
$main-padding-tablet: 120px;
$gap-main-mobile: 92px;
$gap-main-tablet: 120px;
