$max-content-width: 1020px;
$padding-inline-mobile: 20px;
$padding-inline-tablet: 72px;
$padding-inline-desktop: 120px;
$top-bar-padding-mobile: 24px;
$top-bar-padding-tablet: 64px;
$header-bottom-padding-mobile: 88px;
$header-bottom-padding-tablet: 130px;
$input-padding: 16px 14px;
$full-height: 100vh;
$percent-full-height: 100%;
$full-width: 100%;
