$min-viewport-width: 320px;
$logo-height-mobile: 38px;
$logo-height-tablet: 56px;
$icon-size-mobile: 24px;
$icon-size-tablet: 32px;
$input-width-mobile: 280px;
$input-width-tablet: 288px;
$input-width-desktop: 411px;
$button-height: 56px;
$button-width-mobile: 278px;
$button-width-tablet: 392px;
$button-width-desktop: 324px;
$button-label-width-mobile: 310px;
$button-label-width-tablet: 320px;
$button-label-width-desktop: 440px;
$textarea-height: 120px;
$border-thin: 1px;
$footer-height: 600px;
